<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kuka">

    <!-- Gazebo ros2_control plugin -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find kuka_controller)/config/kuka_controllers.yaml</parameters>
      </plugin>
    </gazebo>

    <!-- Gazebo plugin for link state publishing -->
    <gazebo>
      <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
          <ros>
              <namespace>gazebo</namespace>
              <remapping>odom:=end_effector_pose</remapping> <!-- remapping을 사용하여 토픽 이름 변경 -->
          </ros>
          <always_on>true</always_on>
          <update_rate>100</update_rate>
          <body_name>end_effector_link</body_name>
          <frame_name>world</frame_name>
      </plugin>
    </gazebo>

    <gazebo reference="base_link">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="link_1">
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="link_2">
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="link_3">
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="link_4">
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="link_5">
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="link_6">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="end_effector_link">
      <material>Gazebo/Black</material>
    </gazebo>

</robot>