<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />

    <!-- Joint between the end effector and the D455 camera -->
    <xacro:sensor_d455 parent="end_effector_link" name="camera" use_nominal_extrinsics="true">
        <origin xyz="-0.145 0 -0.155" rpy="0 ${PI/2} 0" />
    </xacro:sensor_d455>

    <!-- Gazebo 관련 설정 추가 -->
    <gazebo reference="camera_link">
        <material>Gazebo/Gray</material>
        <sensor name="d455" type="depth">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>B8G8R8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_color_optical_frame</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>100.0</max_depth>
            </plugin>
        </sensor>
    </gazebo>
</robot>
